body {
  background: rgb(87, 59, 105);
}

#container {
  height: 350px;
  width: 350px;
  background-color: white;
  margin: 100px auto;
  text-align: center;
}

#image {
  height: 350px;
  width: 350px;
}

.btn {
  margin: 0 auto;
  height: 30px;
  width: 100px;
}

h1 {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  color: orange;
}

p {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}
